*.zkb
astdump
/dis
/zuko
/tests/test_all
/modules/*.so
/tests/out.txt
out.txt
/program.zk
/demo.json
*.cmake
Makefile
CMakeCache.txt
CMakeFiles/
*.vcxproj
*.sln
*.filters
Release
Debug
*.dir
*.user
.vs/
*.so
*.a
compile_commands.json
.cache
