*.pltb
/dis
/plutonium
/tests/test_all
/modules/*.so
/tests/out.txt
out.txt
/program.plt
/demo.json
*.cmake
Makefile
CMakeCache.txt
CMakeFiles/
*.vcxproj
*.sln
*.filters
Release
Debug
*.dir
*.user
.vs/
